body {
  background-color:rgb(254, 255, 238);
}
h1 {
  font-family: sans-serif;
  font: verdana;
  color: rgb(24, 62, 150);
}
h2 {
  font-family: sans-serif;
  font: arial-black;
  color: blue;
}
h3 {
  font-family: sans-serif;
  font: verdana;
p {
  font-family: sans-serif;
  font: verdana;
}
<address> {
  fon-family: sans-serif;
  font: verdana;
}

/* Flexible images */

img {
  max-width: 100%;
  height: auto;
}

