body {
  background-color:rgb(255, 255, 233);
  margin-left: 30px;
  margin-right: 30px;
}
h1 {
  font-family: serif;
  font-size: 50px;
  font-weight: bold;
  color: rgb(0, 55, 183);
  border-color: blue;
}
h2 {
  font-family: sans-serif;
  font-size: xx-large;
  font-weight: bold;
  color: rgb(0, 55, 183);
  box-sizing: content-box;
}
h3 {
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(204, 102, 0);
}
h4 {
  font-family: sans-serif;
   font-size: 20px;
}
p {
  font-family: monospace;
  font-size: medium;
  color: rgb(102, 51, 0);
}
a {
  font-family: sans-serif;
  font-size: large;
  color: blue;
}
address {
  font-family: sans-serif;
  font-size: small;
  color: black;
}

/* Flexible images */

img {
  max-width: 100%;
  height: auto;
}

