body {
  background-color:rgb(255, 255, 233);
  margin-left: 20%;
  margin-right: 20%;
}
h1 {
  font-family: serif;
  font-size: 50px;
  font-weight: bold;
  color: rgb(0, 55, 183);
  border-color: blue;
}
h2 {
  font-family: sans-serif;
  font-size: xx-large;
  font-weight: bold;
  color: rgb(0, 55, 183);
  box-sizing: content-box;
}
h3 {
  font-family: sans-serif;
  font-size: 20px;
  color: pink
}
h4 {
  font-family: sans-serif;
   font-size: 20px;
}
p {
  font-family: monospace;
  color: brown;
}
a {
  font-family: sans-serif;
}

/* Flexible images */

img {
  max-width: 100%;
  height: auto;
}

